@media screen and (max-width: 576px) {
    
    .nav-right{
        display: none;
    }
    #bar{
        display: block;
        color: white;
        margin-right: 30px;
    }
    .nav-left{
        margin-left: 2rem;
    }
    header{
        max-width: 100%;
        max-height: 1250px;
        background-color: black;
        color: rgb(255, 255, 255);
        background: linear-gradient(180.00deg, rgb(17, 17, 17) ,rgb(119, 119, 119));
        margin: 0 auto;
        text-align: start;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-left{
        margin-top: 1.8rem;
        margin-bottom: 0;    
        margin-left: 1.8rem;
    }
    .banner-left p{
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;
    
    }
    .banner-btn1{
        bottom: 50%;
        left: 50%;
    }
    .banner-btn2-container{
        bottom: 15%;
        right: 37%;
    }
    .habit-container{
        flex-direction: column;
    }

    /* extra mile responsive   */

    .mile-container{
        flex-direction: column;
        width: 353px;
        height: 531px;
        padding-left: 20px;
        padding-right: 30px;
        background: rgb(34, 34, 34);
        margin: 840px auto;
    }
    .mile-left{
        width: 443px;
        height: 290px;
        margin: auto 0;
    }
    .mile-header{
        height: fit-content;
        font-size: 38px;
    }
    .mile-p{
        font-size: 10px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 18px;
    }
    .mile-img{
        padding: 15px 15px 15px 15px ;
        width: 287px;
        height: 170px;
        border-radius: 25px;
    }

}