@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter{
    font-family: "Inter", sans-serif;
  }
/* Shared styles  */

*{
    background-color: black;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.btn-primary{
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: 1px solid rgb(230, 83, 60);
}
  /* navbar styles here */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 3.5rem;
    background: transparent;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17) ,rgb(119, 119, 119)); */

}
#bar{
    display: none;
}
.nav-left{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    background: transparent;
}
.nav-right{
    background: transparent;
}
.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.9rem;
    font-size: 18px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    background: transparent;
}
.nav-list-item-home{
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
}

/* header style here */

.header-container{
    max-width: 1440px;
    max-height: 715px;
    background-color: black;
    color: rgb(255, 255, 255);
    background: linear-gradient(180.00deg, rgb(17, 17, 17) ,rgb(119, 119, 119));
    margin: 0 auto;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    background: transparent;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17) ,rgb(119, 119, 119)); */

}
.banner-left{
    margin-top: 3.8rem;
    margin-bottom: 2.81rem;    
    margin-left: 11.8rem;
    background: transparent;
}
.btn-left{
    background-color: transparent;
    border: 1px solid white;
}
.banner-headline{
    font-size: 4.8rem;
    font-weight: 900;
    background: transparent;
}
.banner-left p{
    max-width: 400px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    background: transparent;
}
.shape{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 3.2rem;
    background: transparent;
}
.banner-right{
    position: relative;
    background: transparent;
}

.banner-img{
    margin: 0 100px;
    background: transparent;
}

.banner-btn1{
    width: 193px;
    height: 98px;
    position: absolute;
    bottom: 65%;
    left: 57%;
    padding-top:18px ;
    padding-left: 15px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
}
.banner-btn1 h1{
    background: transparent;
}
.banner-btn1 p{    
    background: transparent;
}
.banner-btn2-container{
    display: flex;
    width: 206px;
    height: 96px;
    position: absolute;
    bottom: 15%;
    right: 67%;
    align-items: center;
    text-align: start;
    gap: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
}
.banner-btn2 h1{
    background: transparent;
}
.banner-btn2 p{
    background: transparent;
}
.banner-circle{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);;
    border-radius: 50%;
}
/* section habit styles here  */
.habit{
    max-width: 1044px;
    max-height: 452px;
    margin: 100px auto;
    text-align: center;
}
.habit-main h1{
    font-size: 48px;
    font-weight: 900;
}
.habit-main p{
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
}
.habit-container{
    display: flex;
    gap: 70px;
    justify-content: space-around;
    margin-top: 50px;
}

.habit-container img{
    border-radius: 50%;
}

/* section extra mile styles here  */

.mile-container{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    max-height: 371px;
    border-radius: 25px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 30px;
    color: rgb(255, 255, 255);
    background: rgb(34, 34, 34);
}
.mile-left{
    width: 443px;
    height: 290px;
    margin: auto 0;
    background: rgb(34, 34, 34);

}
.mile-header{
    height: 116px;
    font-size: 48px;
    font-weight: 900;
    margin-top: 41px;
    background: rgb(34, 34, 34);

}
.mile-p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 25px;
    background: rgb(34, 34, 34);

}
.mile-right{
background: transparent;
}
.mile-img{
    padding: 15px 15px 15px 15px ;
    width: 366px;
    height: 312px;
    border-radius: 25px ;
    background: rgb(34, 34, 34);

}

.bmi-calc-headline{
    width: 671px;
    height: 120px;
    text-align: center;
    margin: 100px auto 0 auto;
    background: transparent;
}
.bmi-calc-headline h1{
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 7px;
    background: transparent;
}
.bmi-calc-headline p{
    font-size: 14px;
    font-weight: 400;
    background: transparent;
}

/* BMI Calculator table style  */
.calc-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1440px;
    max-height: 487px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    background: rgb(34, 34, 34);
}
.calc-left{
    padding-left: 30px;
    background: transparent;

}
.calc-left h1{
    margin-top: 40px;
    margin-bottom: 50px;
    background: transparent;
}

.calc-left table{
    border-collapse: collapse;
    width: 310px;
    height: 216px;
    background: transparent;
}

.calc-left td,th{
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: left;
    background: rgb(34, 34, 34);
    color: rgba(255, 255, 255, 0.5);
}
.calc-left th{
    color: rgb(255, 255, 255);
}
.calc-right{
    padding: 20px 40px;
    background: rgb(34, 34, 34);
}
.calc-right h1{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
    background: transparent;
}
.calc-right p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
    background: transparent;
}

#calc-form{
    gap: 6px;
    background: transparent;
}
#height{
    width: 282.5px;
    height: 48px;
    padding: 12px 40px 12px 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.6)
    border: 1px solid rgb(255, 255, 255) ;
}
#weight{
    width: 282.5px;
    height: 48px;
    padding: 12px 40px 12px 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.6)
    border: 1px solid rgb(255, 255, 255);
}
#age{
    width: 282.5px;
    height: 48px;
    padding: 12px 40px 12px 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.6)
    border: 1px solid rgb(255, 255, 255);
}
#sex{
    width: 344.65px;
    height: 72.9px;
    padding: 12px 40px 12px 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.6)
    border: 1px solid rgb(255, 255, 255);
}
#activity{
    width: 693.5px;
    height: 72.9px;
    padding: 12px 40px 12px 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.6)
    border: 1px solid rgb(255, 255, 255);
}
/* Trainer section styles */

.team-header{
    align-items: center;
    text-align: center;
    margin-top: 100px ;
    margin-bottom: 50px;
}

.trainer{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 1080px;
    height: 504px;
    display: grid;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 10px;
    grid-template-areas: 
    
    "a b c"
    "d e f"
    ;
}
.trainer1{
    width: 350px;
    height: 240px;
    grid-area: a;
    position: relative;
}
.trainer1-img img{
    background: transparent;
    width: 100%;
    border-radius: 10px;
}
.trainer2{
    grid-area: b;
    width: 350px;
    height: 240px;
    position: relative;

}

.trainer2-img img{
    background: transparent;
    width: 100%;
    border-radius: 10px;
}
.trainer3{
    grid-area: c;
    width: 350px;
    height: 240px;
    position: relative;

}
.trainer3-img img{
    background: transparent;
    width: 100%;
    border-radius: 10px;
}
.trainer4{
    grid-area: d;
    width: 350px;
    height: 240px;
    position: relative;

    }
.trainer4-img img{
    width: 100%;
    border-radius: 10px;
    background: transparent;
    }

.trainer5{
    grid-area: e;
    width: 350px;
    height: 240px;
    position: relative;

    }
.trainer5-img img{
    background: transparent;
    width: 100%;
    border-radius: 10px;
    }
.trainer6{
    grid-area: f;
    width: 350px;
    height: 240px;
    position: relative;

}
.trainer6-img img{
    background: transparent;
    width: 100%;
    border-radius: 10px;
}
.trainer1-header{
    position: absolute;
    bottom: 2%;
    left: 15px;
    background: transparent;
}
.trainer2-header{
    position: absolute;
    bottom: 2%;
    left: 15px;
    background: transparent;
}
.trainer3-header{
    position: absolute;
    bottom: 2%;
    left: 15px;
    background: transparent;
}
.trainer4-header{
    position: absolute;
    bottom: 2%;
    left: 15px;
    background: transparent;
}
.trainer5-header{
    position: absolute;
    bottom: 2%;
    left: 15px;
    background: transparent;
}
.trainer6-header{
    position: absolute;
    bottom: 2%;
    left: 15px;
    background: transparent;
}
.trainer h1,h6,img{
    background: transparent;
}

/* footer section design */
.footer{
    max-width: 1440px;
    margin-top: 100px;
    background: rgb(34, 34, 34);;
    display: grid;
    justify-content: space-evenly;
    padding: 30px;
    grid-template-areas: 
    "a b c"
    "d d d"

;
}
.footer-left{
    background: transparent;
    max-width: 470px;
    grid-area: a;
}
.footer-left h1{
    background: transparent;
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 15px;
}
.footer-left p{
    background: transparent;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.footer-middle{
    background: transparent;
    max-width: 470px;
    grid-area: b;
}
.footer-middle h1{
    background: transparent;
}
.footer-middle ul, li{
    background: transparent;
    list-style: none;
    padding: 15px 0;
    color: rgba(255, 255, 255, 0.5);
}
.footer-right{
    background: transparent;
    max-width: 470px;
    grid-area: c;
}
.footer-right h1{
    background: transparent;
}
.footer-right ul, li{
    background: transparent;
    padding: 15px 0;
    color: rgba(255, 255, 255, 0.5);
}
.footer-last{
    background: transparent;
    text-align: center;
    grid-area: d;
}
.footer-last p{
    background: transparent;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
}